version: '3.8'
services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: xeno_crm
    ports:
      - "3306:3306"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  api-gateway:
    build: ./backend/api-gateway
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DATABASE=xeno_crm
      - JWT_SECRET=your_jwt_secret
    depends_on:
      - rabbitmq
      - mysql
    ports:
      - "3002:3001"

  ingestion-consumer:
    build: ./backend/ingestion-consumer
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DATABASE=xeno_crm
    depends_on:
      - rabbitmq
      - mysql

  delivery-consumer:
    build: ./backend/delivery-consumer
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DATABASE=xeno_crm
      - VENDOR_API_URL=http://vendor-simulator:4000/send
    depends_on:
      - rabbitmq
      - mysql
      - vendor-simulator

  vendor-simulator:
    build: ./backend/vendor-simulator
    environment:
      - API_GATEWAY_URL=http://api-gateway:3001/delivery-receipts
    ports:
      - "4000:4000"
    depends_on:
      - api-gateway

  auth-service:
    build: ./backend/auth-service
    env_file:
      - .env
    ports:
      - "5001:5000"
    
  ai-service:
    build: ./ai-service
    ports:
      - "5002:5002"
  frontend:
    build: ./frontend
    env_file:
      - .env
    ports:
    - "3000:3000"
    depends_on:
    - api-gateway
    - ai-service
    - auth-service